<%- include('partials/header'); -%>

<header>
  <!-- <link rel="icon" href="/public/cheems.png"> -->
  <div class="smoothie">
    <img src="/cheems.png" alt="" />
  </div>
  <div class="headings">
    <h3 id="pickupLines">Click Next for a Pickup Line by Cheems</h3>
    <h5 id="author">- By Dogesh Cheems</h5>
    <button id="btn" onclick="getNext()">Next</button>
  </div>
</header>

<script>
  function getNext() {
    document.getElementById('btn').disabled = true;
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function () {
      if (this.readyState === 4) {
        if(this.response && this.response.at()) {
          const pickup = JSON.parse(this.response.at());
          document.getElementById('pickupLines').innerText = pickup.line;
          document.getElementById('author').innerText = ' - By ' + pickup.author;
          document.getElementById('btn').disabled = false;
        }
        
      }
    });

    xhr.open("GET", "https://cheemspickupapi.cyclic.app/joke");

    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.send();
  };
</script>

<%- include('partials/footer'); -%>
