/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
h1,
h2,
h3,
h4,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}

button {
  position: absolute;
  top: 55%;
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
button:active {
  transform: scale(0.96);
}
button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px black;
  transition-duration: 300ms;
  transition-property: box-shadow;
}
header {
  display: flex;
  align-items: center;
}
header img {
  width: 250px;
  margin-right: 40px;
}
header h3 {
  position: absolute;
  top: 25%;
  font-size: 2em;
  padding-right: 40px;
  margin-bottom: 10px;
}
header h5 {
  position: absolute;
  top: 48%;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header img {
    width: 150px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  header h3 {
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 0;
    /* margin-left: 10px; */
    text-align: center;
    width: 80%;
    position: absolute;
    /* margin-right: 10px; */
    top: 40%;
    left: 10%;
    /* right: -5%; */
  }
  header h5 {
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    /* margin-left: 22px; */
    position: absolute;
    left: 20%;
    top: 58%;
  }
  button {
    height: 5vh;
    width: 30vw;
    position: absolute;
    left: 5%;
    top: 65%;
    margin-top: 20px;
    margin-left: 115px;
  }
  footer {
    position: absolute;
    bottom: 20;
  }
}
